%h1 About Blocmarks
%p It's easy enough to bookmark a URL in your browser, but eventually your bookmark library may get cluttered and it may require effort to manage bookmarks. We'd also like the ability to share bookmarks with friends, which is not something we can do easily from our native browser. Blocmarks will solve these problems by organizing bookmarks by topic and making them public so that other users can find them and add bookmarks to their own Blocmarks profile..
